<%- include('../partials/header') %>

    <h2>
        <%= supplier && supplier._id ? 'Edit Supplier' : 'New Supplier' %>
    </h2>

    <% if (error) { %>
        <p style="color:red;">
            <%= error %>
        </p>
        <% } %>

            <form action="<%= action %>" method="POST">
                <label>Name</label>
                <input name="name" value="<%= supplier.name || '' %>" required />

                <label>Address</label>
                <input name="address" value="<%= supplier.address || '' %>" required />

                <label>Phone</label>
                <input name="phone" value="<%= supplier.phone || '' %>" required />

                <% if (supplier && supplier.code) { %>
                    <label>Code</label>
                    <input type="text" value="<%= supplier.code %>" disabled />
                    <% } %>

                        <button type="submit">Save</button>
            </form>

            <%- include('../partials/footer') %>